@{
    ViewData["Title"] = "New Journal";
}
<h1>@ViewData["Title"]</h1>


<div class="container-lg">
    <div>
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Title of your journal..">
    </div>
    <div>
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" rows="5" placeholder="Dear Journal..."></textarea>
    </div>
</div>